In [1]:
import sqlalchemy as db
import pandas as pd
import os
import random

In [85]:
class game_assets():
    def load_game_db(self):
        DBUSER= os.getenv('DBUSER','postgres')
        DBPASSWORD = os.getenv('DBPASSWORD','shadow954')
        DBHOST = os.getenv('DBHOST','localhost')
        DBPORT = os.getenv('DBPORT','5432')
        DBNAME = os.getenv('DBNAME','rust-items')

        engine = db.create_engine(
            f"postgresql+psycopg2://{DBUSER}:{DBPASSWORD}@{DBHOST}:{DBPORT}/{DBNAME}", client_encoding='utf8')
        return engine
    
    def instance_loot_box(self,loot_grade):
        query = "select * from lootcrates where grade = '{}'".format(loot_grade)
        qoi = pd.read_sql(query,engine).item_quantity
        
        iqoi = random.randint(2,int(qoi))
        
        query = """SELECT id FROM items WHERE lootgrade = '{}' ORDER BY random() LIMIT {};  """.format(loot_grade,iqoi)
        
        lootbox_items = pd.read_sql(query, engine)
        
        columns = pd.read_sql('select * from loot_crate_instance',engine).columns
        
        if iqoi == 2:
            insertion = "INSERT INTO loot_crate_instance(loot_grade,item1_id,item2_id) VALUES ('{}',{},{})".format(loot_grade, lootbox_items.id[0],lootbox_items.id[1])
        elif iqoi == 3:
            insertion = "INSERT INTO loot_crate_instance(loot_grade,item1_id,item2_id,item3_id) VALUES ('{}',{},{},{})".format(loot_grade, lootbox_items.id[0],lootbox_items.id[1],lootbox_items.id[2])
        elif iqoi == 4:
            insertion = "INSERT INTO loot_crate_instance(loot_grade,item1_id,item2_id,item3_id,item4_id) VALUES ('{}',{},{},{},{})".format(loot_grade, lootbox_items.id[0],lootbox_items.id[1],lootbox_items.id[2],lootbox_items.id[3])
        elif iqoi == 5:
            insertion = "INSERT INTO loot_crate_instance(loot_grade,item1_id,item2_id,item3_id,item4_id,item5_id) VALUES ('{}',{},{},{},{},{})".format(loot_grade, lootbox_items.id[0],lootbox_items.id[1],lootbox_items.id[2],lootbox_items.id[3],lootbox_items.id[4])
        elif iqoi == 6:
            insertion = "INSERT INTO loot_crate_instance(loot_grade,item1_id,item2_id,item3_id,item4_id,item5_id,item6_id) VALUES ('{}',{},{},{},{},{},{})".format(loot_grade, lootbox_items.id[0],lootbox_items.id[1],lootbox_items.id[2],lootbox_items.id[3],lootbox_items.id[4],lootbox_items.id[5])
        elif iqoi == 7:
            insertion = "INSERT INTO loot_crate_instance(loot_grade,item1_id,item2_id,item3_id,item4_id,item5_id,item6_id,item7_id) VALUES ('{}',{},{},{},{},{},{},{})".format(loot_grade, lootbox_items.id[0],lootbox_items.id[1],lootbox_items.id[2],lootbox_items.id[3],lootbox_items.id[4],lootbox_items.id[5],lootbox_items.id[6])        
                             
        with engine.begin() as conn:     # TRANSACTION
            conn.execute(insertion)
            
        return int(pd.read_sql("select id from loot_crate_instance order by id desc limit 1;",engine).id)
    
#     def loot_loot_box()

In [86]:
gi = game_assets()
engine = gi.load_game_db()

In [87]:
instanceid = gi.instance_loot_box('elite')

In [40]:
pd.read_sql('select * from loot_crate_instance',engine)

,id,loot_grade,item1_id,item2_id,item3_id,item4_id,item5_id,item6_id,item7_id
0,1,barrel,68,74,NaN,NaN,NaN,NaN,NaN
1,2,barrel,57,56,NaN,NaN,NaN,NaN,NaN
2,3,barrel,70,74,NaN,NaN,NaN,NaN,NaN
3,4,barrel,60,71,NaN,NaN,NaN,NaN,NaN
4,5,barrel,68,57,NaN,NaN,NaN,NaN,NaN
5,6,barrel,60,74,NaN,NaN,NaN,NaN,NaN
6,7,barrel,71,70,NaN,NaN,NaN,NaN,NaN
7,8,barrel,48,70,NaN,NaN,NaN,NaN,NaN
8,9,barrel,59,56,NaN,NaN,NaN,NaN,NaN
9,10,barrel,56,58,NaN,NaN,NaN,NaN,NaN
10,11,basic,25,64,40.0,NaN,NaN,NaN,NaN
11,12,elite,30,54,82.0,72.0,65.0,35.0,34.0
12,13,elite,30,82,34.0,NaN,NaN,NaN,NaN
13,14,elite,34,33,65.0,72.0,54.0,NaN,NaN

In [ ]:
pd.read_sql('select * from lootbox',engine).id[0]

In [ ]:
pd.read_sql('select * from items where id=58',engine)

In [ ]:
pd.read_sql('select * from lootcrates',engine)